.idea/
!docker-magento22/databases/.gitkeep
docker-magento22/databases/*
!docker-magento22/logs/nginx/.gitkeep
!docker-magento22/logs/php/.gitkeep
docker-magento22/logs/*

htdocs/.buildpath
htdocs/.cache
htdocs/.metadata
htdocs/.project
htdocs/.settings
htdocs/sitemap
htdocs/sitemap.xml
htdocs/app/config_sandbox
htdocs/app/etc/config.php
htdocs/app/etc/env.php
htdocs/app/code/Magento/TestModule*
htdocs/lib/internal/flex/uploader/.actionScriptProperties
htdocs/lib/internal/flex/uploader/.flexProperties
htdocs/lib/internal/flex/uploader/.project
htdocs/lib/internal/flex/uploader/.settings
htdocs/lib/internal/flex/varien/.actionScriptProperties
htdocs/lib/internal/flex/varien/.flexLibProperties
htdocs/lib/internal/flex/varien/.project
htdocs/lib/internal/flex/varien/.settings
htdocs/node_modules
htdocs/.grunt

htdocs/pub/media/*.*
!htdocs/pub/media/.htaccess
htdocs/pub/media/catalog/*
!htdocs/pub/media/catalog/.htaccess
htdocs/pub/media/customer/*
!htdocs/pub/media/customer/.htaccess
htdocs/pub/media/downloadable/*
!htdocs/pub/media/downloadable/.htaccess
htdocs/pub/media/import/*
!htdocs/pub/media/import/.htaccess
htdocs/pub/media/theme/*
htdocs/pub/media/theme_customization/*
!htdocs/pub/media/theme_customization/.htaccess
htdocs/pub/media/wysiwyg/*
!htdocs/pub/media/wysiwyg/.htaccess
htdocs/pub/media/tmp/*
!htdocs/pub/media/tmp/.htaccess
htdocs/pub/media/captcha/*
htdocs/pub/static/*
!htdocs/pub/static/.htaccess

htdocs/var/*
!htdocs/var/.htaccess
htdocs/vendor/*
!htdocs/vendor/.htaccess